<div class="game-table">
  <div class="row">
    <div class="col">
      <button [disabled]="action!= -1" type="button" class="btn btn-secondary" (click)="dealHand()">Deal</button>
      <button type="button" class="btn btn-secondary" (click)="shuffle()">Shuffle</button>
      <button type="button" class="btn btn-secondary" (click)="newDeck()">New Cards</button>
    </div>
  </div>
  <div>Dealer Messsage: {{dealerMessage}}</div>
  <div class="wrapper">
    <div class="card-area">
      <h3>
        Dealer Cards
      </h3>
      <div class="card-display-area">
        <bj-display-hand *ngIf="hands" [dealerHand]='true' [hideHole]='action!=0 && action!= -1' [cards]='hands[0].cards' [count]='hands[0].count'></bj-display-hand>
      </div>
      <h3 class="red-felt-lettering">BLACKJACK PAYS 3 TO 2</h3>
      <h4 class="black-felt-lettering">Dealer must draw to 16, and stay on all 17s</h4>
      <div class="place-bet-area">
        <div *ngIf="hands" class="coin-display winning-coin" [ngClass]="{showChip: hands[1].showWinChip && action!= -1}">{{players[1].currentBet}}</div>
        <div *ngIf="hands" class="coin-display">{{players[1].currentBet}}</div>
      </div>
      <h3>
        Player 1
      </h3>
      <div class="card-display-area">
        <bj-display-hand *ngIf="hands" [dealerHand]='false' [cards]='hands[1].cards' [count]='hands[1].count' [hasAce]="hands[1].hasAce"></bj-display-hand>
      </div>
      <div *ngIf="players[1]">
        <div *ngIf="action==-1" class="btn-group btn-group-sm" role="group">
          <button type="button" class="btn btn-secondary" (click)="playerBet('add100')">+100</button>
          <button type="button" class="btn btn-secondary" (click)="playerBet('add10')">+10</button>
        </div>
        <div *ngIf="action==-1" class="btn-group btn-group-sm" role="group">
          <button type="button" class="btn btn-secondary" (click)="playerBet('sub10')">-10</button>
          <button type="button" class="btn btn-secondary" (click)="playerBet('sub100')">-100</button>
        </div>
        <div *ngIf="action==1">
          <button mat-mini-fab type="button" class="btn btn-sm btn-secondary" (click)="playerHit(1)">HIT</button>
          <button mat-mini-fab type="button" class="btn btn-sm btn-secondary" (click)="playerStay(1)">STAY</button>
          <button mat-mini-fab type="button" class="btn btn-sm btn-secondary" (click)="playerDouble(1)">DBL</button>
          <button mat-mini-fab type="button" class="btn btn-sm btn-secondary" (click)="playerSplit(1)" [disabled]="hands[1].cards[0].value!=hands[1].cards[1].value">SPLIT</button>
        </div>
        <br> Player1 - {{players[1].stack}} chips
      </div>
    </div>
    <div class="score-area">
      <h5>
        Score Area
      </h5>
    </div>
  </div>
</div>