<div class="game-table">
  <div class="row">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Options</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button class="dropdown-item" (click)="shuffle()">Request Shuffle</button>
          <button class="dropdown-item" (click)="newDeck()">Request New Deck</button>
          <button class="dropdown-item" (click)="dealHand()">Deal a Hand</button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="hands" class="wrapper">
    <div class="card-area">
      <h3>
        Dealer Cards
      </h3>
      <div class="card-display-area">
        <bj-display-hand [dealerHand]='true' [cards]='hands[0].cards'></bj-display-hand>
      </div>
      <h3>
        Player Cards
      </h3>
      <div class="card-display-area">
        <bj-display-hand [dealerHand]='false' [cards]='hands[1].cards'></bj-display-hand>
      </div>
    </div>
    <div class="score-area">
      <h5>
        Dealer: {{hands[0].count}}
        <br>
        Player: {{hands[1].count}}
      </h5>
    </div>
  </div>

</div>