@import "src/styles";

.wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.game-table {
    color: white;
    height: 100%;
    width: 100%;
    background-color: $color-felt;
    padding: 15px;
}

.place-bet-area{
    border: white solid 2px;
    border-radius: 6px;
    height: 8vw;
    margin: 20px;
}

.coin-display{
    border-radius: 50%;
    background-image: url('../../assets/pokerchip2.png');
    background-color: #999999;
    background-size: cover;
    width: 6vw;
    height: 6vw;
    text-align: center;
    padding-top: 2vw;
}
.winning-coin{
    margin-top: -2vw;
    visibility: hidden;
}

.showChip {
    visibility: visible;
}

.hideChip{
    visibility: hidden;
}

.red-felt-lettering{
    color: #b30000;
}

.black-felt-lettering{
    color: #1a1a1a
}

.card-display-area {
    border: white solid 2px;
    border-radius: 6px;
    width: 18vw;
    height: 15vw;
    padding: 5px;
}

.mat-mini-fab{
    background-color: $color-primary;
}