<br><h5>The following is a brief summary of counting cards in blackjack.  It is taken directly from Mike Aponte's <a href="https://mikeaponte.com/card_counting_101/" target="blank">Blog</a></h5>
<br>

<p>
    Most people have a notion of what card counting is but don’t know exactly how and why it works. Card counting is a means of identifying when the remaining cards are in your favor by keeping track of the cards that have been played. Keeping track doesn’t mean you have to pull a “Rain Man” and memorize the suit and denomination of every single card. Far from it. Counting systems assign simple count values to the cards. The MIT Blackack Team used the Hi-Lo count system which assigns a count value of +1, -1, or 0 to every card.<br><br>
    
    Hi-Lo count system:<br><br>
    
    Low cards: 2, 3, 4, 5, 6 each have a count value of +1<br><br>
    
    High cards: 10, J, K, Q, K, A each have a count value of -1<br><br>
    
    Neutural cards: 7, 8 , 9 each have a count value of 0<br><br>
    Low cards are bad for players and good for the dealer. Low cards turn the dealer’s bad totals (12 to 16) into good totals (17 to 21). Anyone who’s played blackjack knows the pain of the dealer drawing to 16 and then pulling a 5 to wipe out the table.<br><br>
    
    High cards are good for players and bad for the dealer. The most important benefit of high cards is blackjack which pays 3/2. That’s a 150% return on your money. Another big benefit of high cards is a higher probability of the dealer busting on his still totals (12 to 16).<br><br>
    
    You may be wondering? If low cards are bad for players why do they have a count value of +1? And if high cards are good for players why do they have a count value of -1?   Everytime a low card comes out that is one less low card that can work against you and help the dealer. This is why the count increases by +1. Everytime a high card is dealt from the shoe that is one less high card that can help you in the future, which is why the count decreases by 1.<br><br>
    
    With the Hi-Lo, you’re only concerned with the high cards and the low cards . The neutral cards (7, 8, 9) have a count value of zero because relatively speaking they don’t favor the dealer or the player. The count is the net difference between the high cards and low cards that have been dealt.<br><br>
    
    At the start of a new shoe the running count starts at zero since you haven’t seen any cards. As the cards are dealt the count constantly fluctuates. If you see 4 low cards and 2 high cards, the count of these 6 cards is +2. A count of +2 reflects the fact you’ve seen 2 more low cards than high cards, which means there are 2 more high cards than low cards remaining.<br><br>
    
    The count is centered around zero because there are an equal number of high cards and low cards. If every single card from the shoe was dealt, the count would end at zero, right where it started. When a lot of low cards come out the count increases on the positive side. This means a greater probability that high cards will be dealt, resulting in more blackjacks and dealer busts.<br><br>
</p>
