/* You can add global styles to this file, and also import other style files */
$color-primary: #3A3A3A;
$color-secondary: #999999;
$color-felt: #006b3c;
$color-yellow: yellow;


body, html{
    height: 100%;
}